<div class="container" *ngIf="data">
    <div class="retour" (click)="onIndex()">retour</div>
    <div class="data-title">data {{ data.commandeId }} - {{ data.date | date:"dd-MM-YYYY" }}</div>
        <p>{{ data.prenom | slice:0:1 | uppercase }}{{ data.prenom | slice:1:-1 | lowercase }} {{ data.nom | uppercase}} - &#x2709;{{ data.email }} - &#x260E;{{ data.mobile | numb }}</p>
        <ul>
            <li *ngFor="let produit of data.produits">{{ produit }}</li>
        </ul>

    <div>
        <button (click)="onDelete($event, data.commandeId)">Supprimer</button>
    </div>
</div>
